body {
  background: #fff;
  font-size: 14px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  padding-top: 80px;
  padding-bottom: 20px;
}


.myborder{
  border: 1px solid #ccc;
  min-height: 390px;
  margin-bottom: 40px;
  padding-top: 10px;
}

.myborder:hover{
  cursor: pointer;
  /*background-color: rgba(192,192,192,0.1);*/
  display: block;
}

img.imgstylo{
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.descr{
  color: #4d4d4d;
  font-weight: 500;
  font-size: 13px;
}

.taja{
  background-color: #ccc;
  height: 400px;
}

.btnperson{
  background-color:#fff; 
  border-radius: 0;
  font-weight: 600;
  float: right;
  margin-right: 10px;
  margin-top: 80px;
   min-width: 200px;
  
}

.btnperson:hover{

  
  border-left:6px solid #ff8533;
  color: #ff8533;

}
.ico{
  font-size: 20px;
}
.ico:hover{
  color: #ff8533;
}

.espaco{
  min-width: 200px;
}
.old{
  padding-top: 10px;
  color: #a6a6a6;
  font-size: 13px;
}

.preco{
  color: #000;
  font-weight: 600;
  font-size: 14px;
}

.btcor{
  border-radius: 0;
  font-weight: 600;
  color: #4d4d4d;
  width: 90%;
  display: inline-block;
  position: absolute;
  bottom: 20px;
}

.formy{
  
  position: absolute;
  bottom: 80px;
}

.parcela{
 margin-top: 4px;

}

@media (max-width: 500px) { 
    
    .btns{
      display: block;
      margin: 10px;
      text-align: center;
      min-width:96%;
   }
}

@media (max-width: 800px) { 
    
    .quadro{
      
      margin-left: 20px;
      margin-right: 20px;
   }
}





